<!DOCTYPE html>
<html>
<head>
  <title>MyMovieJournal</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Vollkorn:400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/crossbar' %>
  <div id="content">
    <%= yield %>
  </div>

  <script type="text/template" id="journal-form">
  <div class="container">
    <form action="" method="POST" class="journal-form">
      <h3 class="form-title">New Journal</h3>
      <div class="form-column-cta">
        <div class="form-column left">
          <label for="title">Title<input type="text" name="title" placeholder="Name of the movie..." /></label>
          <label for="title">Date<input type="text" name="date" placeholder="Date You Watched the movie..." value="<%= Date.today.strftime("%m/%d/%Y") %>" /></label>
          <label for="recommend">Recommend<input type="checkbox" name="recommend" /></label>
        </div>
        <div class="form-column right">
          <label for="title">Your Review<textarea name="review" placeholder="Your thoughts about the movie..." rows="15" /></label>
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="cancel" name="cancel">
          <span><i class="fa fa-times"></i>CANCEL</span>
        </button>
        <button type="submit" class="draft" name="draft">
          <span><i class="fa fa-pencil-square-o"></i>SAVE DRAFT</span>
        </button>
        <button type="submit" class="publish" name="submit">
          <span><i class="fa fa-book"></i>PUBLISH</span>
        </button>
      </div>
    </form>
  </div>
  </script>
  <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>

  <%= javascript_include_tag 'lib/underscore.js' %>
  <%= javascript_include_tag 'lib/backbone.js' %>
  <%= javascript_include_tag 'main.js' %>

</body>
</html>
